/* header */
body{
    background-color: gray;
    font-size: 20px;
    margin: 45px;
    text-align: center
}
.one{
    background-color: burlywood;
    text-align: center;
}
.one a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-style: italic;
}
.two{
    font-style: oblique;
}